<h1>Howdy, <%= @user.email %></h1>

<%= react_component("CardApp") %>
<%= react_component("UserProfile", props: { user: @user, rentals: @rentals,votes: @votes, newRentalLink: new_rental_path, homeLink: root_path }, prerender: false) %>

