<div class="about-text">
  <h3>About HŌM</h3>
  <p>Ut blandit sed augue at consectetur. Quisque tempor egestas porta. Fusce erat dui, tincidunt laoreet justo a, auctor fringilla dui. In nec nisl nec tellus imperdiet gravida vitae sit amet eros. Vestibulum id ullamcorper dolor. Suspendisse imperdiet aliquet tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque non nibh tellus.</p>
</div>
