<div class="the-google-map">
  <%= react_component 'MapsSearchBox'%>
</div>

<br />
<br />
<br />
<br />

<%= react_component 'Carousel', props: { rentals: @rentals, rentors: @rentors, rentalLink: new_rental_path }, prerender: false %>

<div class="the-browse">
  <%= react_component 'Browse'%>
</div>
