<div class="the-google-map">
  <%= react_component 'MapsSearchBox'%>
</div>

<%= react_component 'Carousel', props: { rentals: @rentals, rentors: @rentors, rentalLink: new_rental_path }, prerender: false %>

<div id='app'></div>
