<div class="the-google-map">
  <%= react_component 'MapsSearchBox'%>
</div>

<br />
<br />
<br />
<br />

<%= react_component 'Carousel', props: { rentals: @rentals, rentors: @rentors }, prerender: false %>

<div class="the-browse">
  <%= react_component 'Browse'%>
</div>
