<div class="the-google-map">
  <%= react_component 'MapsSearchBox'%>
</div>

<%= react_component 'Carousel', props: { rentals: @rentals, rentors: @rentors }, prerender: false %>
<%= react_component 'Hammer', prerender: false %>
