<div class="ui container" style="padding-top: 35px">
  <h1 class="ui left aligned center header">My Favorites</h1>
  <div class="ui centered grid">
<!--   row 1 -->
    <div class="row">

      <div class="three wide column">
        <a hre style="color: black"f="#" style="color: black" >
        <div class="ui raised segment">
          <img class="ui medium rounded image" src="https://i.imgsafe.org/e148315724.jpeg">
          <p class="ui center aligned container">Aliquam erat volutpat<br>$3500</p>
        </div>
        </a>
      </div>

      <div class="three wide column">
        <a href="#" style="color: black">
        <div class="ui raised segment">
          <img class="ui medium rounded image" src="https://i.imgsafe.org/e148456e03.jpeg">
          <p class="ui center aligned container">Aliquam erat volutpat<br>$3500</p>
        </div>
        </a>
      </div>

      <div class="three wide column">
        <a href="#" style="color: black">
        <div class="ui raised segment">
          <img class="ui medium rounded image" src="https://i.imgsafe.org/e1484d0b78.jpeg">
          <p class="ui center aligned container">Aliquam erat volutpat<br>$3500</p>
        </div>
        </a>
      </div>

    </div>

<!--   row 2 -->
  <div class="row">
    <div class="three wide column">
      <a href="#" style="color: black">
      <div class="ui raised segment">
        <img class="ui medium rounded image" src="https://i.imgsafe.org/e14853d758.jpeg">
        <p class="ui center aligned container">Aliquam erat volutpat<br>$3500</p>
      </div>
      <a href="#" style="color: black">
    </div>

    <div class="three wide column">
      <a href="#" style="color: black">
      <div class="ui raised segment">
        <img class="ui medium rounded image" src="https://i.imgsafe.org/e1486debd2.jpeg">
        <p class="ui center aligned container">Aliquam erat volutpat<br>$3500</p>
      </div>
      <a href="#" style="color: black">
    </div>

    <div class="three wide column">
        <a href="#" style="color: black">
      <div class="ui raised segment">
        <img class="ui medium rounded image" src="https://i.imgsafe.org/e14883935a.jpeg">
        <p class="ui center aligned container">Aliquam erat volutpat<br>$3500</p>
      </div>
      <a href="#" style="color: black">
    </div>

  </div>
<!--   row 3 -->



        <div class="three wide column">
        <a href="#" style="color: black">
          <div class="ui raised segment">
            <img class="ui medium rounded image" src="https://i.imgsafe.org/e1488e3526.jpeg">
            <p class="ui center aligned container">Aliquam erat volutpat<br>$3500</p>
          </div>
          <a href="#" style="color: black">
        </div>
    </div>

</div>
