<h1>Does everything look correct?</h1>

<%= react_component 'PreviewRentalForm', props: @rental %>

<%# if @rental %>
  <%# @rental.errors.full_messages.each do |error| %>
    <%#= error %>
  <%# end %>
<%# end %>



