<script>
var ready;
ready = function() {
    var input = document.getElementById('locationTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
$(document).ready(ready);
$(document).on('turbolinks:load', ready);
google.maps.event.addDomListener(window, 'load', init);
</script>

<div class="ui container">
  <h1 class="ui header" id="form-prompt">Does everything look correct?</h1>
</div>

<%= react_component 'PreviewRentalForm', props: @rental.as_json %>





