<div class="ui secondary inverted menu footer-color">
  <a class="item">
    About HŌM
  </a>
  <a class="item">
    Contact Us
  </a>
  <a class="item">
    Support
  </a>
  <a class="item">
    Git Hub
  </a>
</div>