<nav>
  <div class="ui secondary pointing menu">
    <a class="active item">
      <%= image_tag "home-icon.png" %>
      <h1>H<span id="the-o">&#332;</span>M</h1>
    </a>
    <a class="item">

    </a>
    <div class="right menu">
      <% if !current_user %>
        <a class="ui item">LogIn</a>
        <a class="ui item">Register</a>
      <% else %>
        <a class="ui item"><%= current_user.email %></a>
        <a class="ui item">LogOut</a>
      <% end %>
    </div>
  </div>
</nav>