* {
  font-family: helvetica, arial, sans-serif;
}

.main-content {
  margin-top: 70px;
}

.the-google-map {
  margin-top: -70px;
}

.nav-color {
  background-color: #334355 !important;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px;
  left: 0px;
}

nav .hom-logo img {
  margin-left: 40px !important;
  display: inline;
  height: 40px;
}

nav .hom-text img {
  display: inline;
  height: 20px;
  margin-left: 10px
}

nav h1 {
  margin: 0px;
  font-size: 20px;
  padding-top: 5px;
  display: inline;
  font-weight: 100;
}

nav #the-o {
  font-weight: 400;
}

.nav-left-mobile, .nav-right-mobile {
  display: none !important;
  background-color: #334355 !important;
}

.nav-left-mobile i, .nav-right-mobile i {
  color: white;
}

.right-dropdown {
  margin-right: 50px !important;
}

@media (max-width: 800px) {
  .nav-left-mobile, .nav-right-mobile {
    display: inline-block !important;
  }

  .nav-desktop {
    display: none !important;
  }
}

.form_field{
  display: block;
  padding: 5px 0 5px 15px;
}

.form-submit-button{
  padding: 5px 0 5px 15px;
}

#preview_form_field{
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  padding: 3px 10px;
}

#form-prompt{
  padding: 15px 0 15px 0;
}

#checkbox{
  padding: 0 0 15px 0;
}

.error-list{
  list-style: none;
}

#preview-field{
  border: 0;
  outline: 0;
  background: transparent;
  /*border-bottom: 1px solid black;*/
}

/*Hiding Google Map UI Buttons*/
div [title="Show satellite imagery"]{
  display: none;
}

div [title="Show street map"]{
  display: none;
}

.gm-svpc {
  display: none;
}

.gmnoprint {
  display: none;
}

.the-google-map {
  background-color: #e2e2e2;
}

.rentalQueriesContainer {
  display: flex;
}

.rentalQueries {
  margin: 0px auto;
  max-width: 60%;
  display: flex;
  z-index: 900;
  padding: 10px;
}

.rentalQueries * {
  /*margin: 5px;*/
  background-color: white;
  margin: 5px auto;
  height: 30px;
}

.rentalQueries select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  width: 40%;
  padding: 0px 10px;
  background-color: white;
}

.carousel-container {
  padding: 30px 0px;
  background-color: #334355 !important;
  overflow: hidden;
  position: relative;
}

.swipeable {
  display: inline;
}

.carousel-container .about-text {
  color: white;
  margin: 0px auto;
  max-width: 70%;
}

.dont-show {
  position: absolute;
  right: -500000px;
}

.carousel-container .about-text *{
  font-weight: 100;
}

.google {
  background-color: #DC4E41 !important;
  color: white !important;
}