.form_field{
  display: block;
  padding: 5px 0 5px 15px;
}

.form-submit-button{
  padding: 5px 0 5px 15px;
}

#preview_form_field{
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  padding: 3px 10px;
}

#form-prompt{
  padding: 15px 0 15px 0;
}

#checkbox{
  padding: 0 0 15px 0;
}

.error-list{
  list-style: none;
}

#preview-field{
  border: 0;
  outline: 0;
  background: transparent;
  /*border-bottom: 1px solid black;*/
}